@-moz-keyframes opacity{
    0%{
        opacity:0
    }
    100%{
        opacity:1;
    }
}

@-webkit-keyframes opacity{
    0%{
        opacity:0
    }
    100%{
        opacity:1;
    }
}


.opacity{
    -moz-animation:opacity .5s linear;
    -webkit-animation:opacity .5s linear;
}





.visibility{
    transition:visibility 1s;
    -moz-transition:visibility 1s;
    -webkit-transition:visibility 1s;
}
